<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
    <p> {{name }} </p>
    <input id = 'data'> </input>
    <input id = 'age'> </input>
    <input id = 'status'> </input>
    <button id = 'submit'>Submit</button>   
<script>
    var test = document.getElementById('submit');
    test.addEventListener('click', function(){
        let data = document.getElementById('data').value;
        let age = document.getElementById('age').value;
        let status = document.getElementById('status').value;

        fetch('/data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                data: data,
                age: age,
                status: status
            })
        }).then(function(response){
            return response.json();
        }).then(function(data){
            console.log(data);
        });
    });
</script>
</body>
</html>